#logo{
  height: 100px;
  margin-left:370px;
}
#logosmall{
  height: 100px;
  margin-left: 10px;
}
#logosmalls{
  height: 100px;
  margin-left: 370px;
}
a{
  text-decoration: none;
  color: white;
}
#home{
  font-family: serif;
  font-size: 25px
}

.tab{
  position: fixed;
  background-color: #b32d00;
  margin-left: -8px;
  margin-right: -10px;
  margin-top: -8px;
  width: 100%;
}

/* Dropdown Button */
.dropbtn {
    background-color: #CC3300;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    min-width: 266px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 0px; /*space between the boxes*/
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 265px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #b32d00;
}
#bgi{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}
/*home page*/
#spotlighttitle{
  margin-left: 40px;
}
#spotlightgig{
float: left;
margin-left: 20px;
word-wrap: break-word;
}

#hazelvid{
  float:left;
  padding-bottom:20px;
  margin-left: 20px;
}

/*
#gigs {
width: 100px;
height: 100px;
margin-right: 300px;
} */

/*table,tr,td{
  text-align: left;
  border: Block;
} */

td {
  padding-left: 15px;
  width:60%;
  min-width: 200px;
  max-width: 400px;
  padding-bottom: 30px;
  padding-right: 20px;
}

iframe{
  text-align: left;
}
.lorem{
  font-size: 20px;

}
#audio{
  color: black;
}
#video{
  color: black;
}
#indie{
  color: black;
}
#rock{
  color: black;
}
#rap{
  color: black;
}
#covers{
  color: black;
}
#hazel{
  color: black;
}
#junk{
  color: black;
}
#jozi{
  color: black;
}
#kit{
  color: black;
}
#hazelsgig{
  height: 400px;
  margin-left: 20px;
  border-style: solid;

}

}
#jjunk{
  border: solid;
  height:400px;
}
#jozi2s{border:solid;height: 400px;float:left;
}
#wraptext{
  float: right;
  margin-bottom: 800px;
}
/*starting hazels page*/
#hazelp{
  border:solid;
  height: 400px;
float:left;}
#soundc{width:100px;margin-left: 300px;}
#yout{width:100px;margin-left: 300px;}
#faceb{width:100px;margin-left: 300px;}
#htext{font-size:30px;float: left; padding-top:0px;}

/*starting kits page*/
#kitguitar{border:solid;
float:left;
  height: 400px;
}
/*starting jozis page*/
#jtext{font-size: 30px;
  float:left;
  padding-top:0px; }

/*starting james*/
#jjunk{
  border: solid;
  height:400px;
  float:left;
}
/* events*/
#eventstitle{
  margin-left: 40px;
}
#details{
  font-size: 20px;
}

/*artist page*/
#hazel10{
  border: solid;

  width: 300px;
}

#jozia{
  border: solid;
  width:300px;
}
#kittt{
  border: solid;
  width:300px;
}

/*video*/
#videofont{
  font-size: 30px;
}
/* genre*/
#indiepic{
  border: solid;
  height:200px;
}
#rappic{
  border: solid;
  height:200px;
}
#rockpic{
  border: solid;
  height:200px;
}
#genreheadings{
  font-size: 60px;
}
/*music*/
#videopic{
  border: solid;
  height:200px;
}
#audiopic2{
  border: solid;
  height:200px;
}
/*detailc*/
/*contact*/
.contact{
  font-size: 30px;
}
#contact{
  font-size: 40px;

}

#merch{width:400px;}
